@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  
}
html,body{
  font-weight: 300;
  font-family: 'Inter', sans-serif;
}

.div-container{
  /* width: 1448px;
  height: 685px;*/
  width: 100%;
  margin: 0 auto;

}

.div-left-right{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#FFCD9E;

  /* display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282828;
  color: #fff;
  height:180px;
  line-height: 32px;
  width: 100%; */


}
.div-left{
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-left: 85px;
    padding-bottom: 10px;
    margin-top: 52px;
    width: 50%;

}
.para{
  display: flex;
    /* width: 495px; */
    height: 81px;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    margin-top: 20px;
    align-self: flex-start;
}
input{
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  line-height: 3px;
  border: 2px solid black;
  border-radius: 10px;
  padding-left: 15px;
  height: 63px;
  width: 350px;
  

}
  h2 {
    color: #282828;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    /* width: 562px; */
    align-self: flex-start;
    
  }

h3{
  display: flex;
    /* width: 227px; */
    height: 81px;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    font-weight: 800;
    line-height: 32px;
    align-self: flex-start;

}
.inputbtn{
  display: flex;
  height: 64px;
  /* margin-bottom: 80px; */
  gap: 20px;
  
}
button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 216px;
  height: 64px;
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  line-height: 29px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #282828;
  transition: 0.2s ease-in-out;
  /* box-shadow: 5px 5px 5px rgba(215, 183, 183, 0.05); */
  /* margin-top: 20px; */

}
button:hover{
  font-size: 20px;
  font-weight: 600;
  line-height: 3px;
  transition: 0.2s ease-in-out;
  opacity: 0.8;
  background-color: white;
  color: black;
}
.para1{
   display: flex;
    /* width: 344px; */
    height: 64px;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
    color: #ffffff;
    align-self: flex-start;
}
.div-right{
  /* display: flex;
  flex-direction: column; */
  /* margin: 10px;
  padding-right: 90px; */
  width: 40%;
  /* padding-left: 40px; */
  

}
.div-right img{
  height: 472px;
  width: 482px;
}
.thank-you{
  font-size: 41.51px;
font-weight: 700;
line-height: 150%;
}
.div-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282828;
  color: #fff;
  height:180px;
  line-height: 32px;
  width: 100%;

}
.div-footer-left{
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  padding-left: 67px;
  
}
.div-footer-right{
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding-right: 90px;
}
ul{
  list-style: none;
 
}
#ul2{
  text-align: end;
  
}

a{
  color: #fff;
  text-decoration: none;
  opacity: 0.8;
  transition: 0.2s ease-in-out;
  box-shadow: 5px 5px 5px rgba(215, 183, 183, 0.05);
}
a:hover{
  opacity: 0.8;
  transition: 0.2s ease-in-out;
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.5);
  border-radius: 10px;

  
}
 
@media(max-width:950px)  {
  
  .div-left-right{
    
    flex-direction: column;
  }
  
  
  .inputbtn{
    display: flex;
    flex-direction: column;
    height: 135px;
    gap: 20px;
    
  }
  
  button{
    
    width: 167px;
    height: 44px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 3px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #282828;
  
  }
  .inputbtn input{
    width: 275px;
    height: 44px;
  }
  
  
  .div-footer{
    display: flex;
    flex-direction: column;
    background-color: #282828;
    height: 455px;
  }
  #ul2{
    text-align: start;
  }
  
  .div-right img{
    width: 100%;
    /* height: 500px; */

  }
  .div-left , .div-right , .div-footer-right{
    gap: 15px;
    padding: 10px;
    width: 75%;
    /* justify-content: center; */
    /* align-items: center; */
    
    
  }
  .div-footer-left{
    padding-top: 22px;
    gap: 10px;
    padding-left:0px ;
  }
  .div-footer-right{
    align-items: center;
  }


} 